 {
     textNormal: "#1F1F1F",
         backgroundPrimary: "#FFFFFF",
         backgroundSecondary: "#F6F6F6",
         textAccent: "#0A4D68",
         textAccentHover: "#1F1F1F",
         backgroundHover: "#0A4D68",
         textError: "#880000",
         textErrorHover: "#FFFFFF",
         backgroundError: "#880000",
         textWarning: "#BFDB00",
         textWarningHover: "#FFFFFF",
         backgroundWarning: "#BFDB00",
         textSuccess: "#058378",
         textSuccessHover: "#FFFFFF",
         backgroundSuccess: "#058378",
         textNote: "#FFCA3A",
         textNoteHover: "#FFFFFF",
         backgroundNote: "#FFCA3A"
 }

 ;
